<div class="container-Fluid">
    <div class="row mt-5">
        <div class="col">
            <div class="col-4">
                <div class="card shadow">
                    <div class="card-body">
                        <form #forgotForm="ngForm" >
                            <div class=" mb-3">
                                <h4 class="text-dark text-muted">Welcome</h4>
                            </div>
                            <div class="mb-3">
                                <p class="text-muted" >The link has been sent to your registered email. Please verify it.</p>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>