<div class="container-Fluid">
    <div class="row mt-5">
        <div class="col">
            <div class="col-4">
                <div class="card shadow">
                    <div class="card-body">
                        <form #forgotForm="ngForm" (ngSubmit)="forgotPassword(forgotForm)">
                            <div class=" mb-3">
                                <h4 class="text-dark text-muted">Forgot Password</h4>
                            </div>
                            <div class="mb-3">
                                <label for="exampleInputEmail1" class="form-label">Email address</label>
                                <input type="email" class="form-control" name="email" [(ngModel)]= "email">
                                <div id="emailHelp" class="form-text">We'll never share your email with anyone else.
                                </div>
                            </div>
                            
                            <button type="submit" class="btn btn-info">
                                Send link 
                            </button>
                            <div class="row">
                                <div class="col-md-6">
                                    <a href="" style="text-decoration: none;">Already have an account ? <span
                                            class="text-danger">Login</span></a>
                                </div>
                                <div class="col-md-6">
                                    <a href="" class="text-dark" style="text-decoration: none;">Forgot password ?</a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>